@model Goods
@{
    ViewData["Title"] = "Good";
}

<div class="card mb-3">
    <img class="card-img-top" src="@Model.UrlPhoto" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.ShortName</h5>
        <p class="card-text">@Model.Description</p>
        <h4 class="card-text">Price - @Model.Price$</h4>
        <select>
            @foreach (var item in Model.Size)
            {
                <option value="@item.SizeName">@item.SizeName  @item.Count</option>
            }
        </select>
    </div>
    @*<a class="btn bg-success" href="../Card/AddToCard?id=@Model.Id">Add to card</a>*@
    <form method="post" class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-7 offset-sm-3">
                <button class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                $.post('../Card/AddToCard?id=' +@Model.Id, function () {
                    $('#card').load("/ #card");
                });
            });
        });
    </script>
}