@model List<Goods>
@{
    ViewData["Title"] = "Card";
}

<h1>Card</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price(per 1)</th>
            <th scope="col">All price</th>
            <th scope="col">How much</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="col">@item.Id</th>
            <th scope="col">@item.ShortName</th>
            <th scope="col">@item.Description</th>
            <th scope="col"><p class="price" id="@item.Id">@item.Price</p></th>
            <th scope="col"><p class="fullprice" id="@item.Id">@item.Price</p></th>
            <th scope="col"><input type="number" class="nums" id="@item.Id" name="nums" min="1" max="10" value="1"></th>
            <th scope="col"><a class="btn bg-danger">x</a></th>
        </tr>
        }
    </tbody>
</table>
<h1>Count - <p class="count">0</p></h1>