@model Dictionary<Goods,char>
@{
    ViewData["Title"] = "Card";
}

<h1>Card</h1>
<div class="CardTable">
    <table class="table" id="MyCardTable">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Size</th>
                <th scope="col">Price(per 1)</th>
                <th scope="col">All price</th>
                <th scope="col">How much</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<Goods, char> item in Model)
            {
            <tr>
                <th scope="col" id="IdItem">@item.Key.Id</th>
                <th scope="col">@item.Key.ShortName</th>
                <th scope="col">@item.Key.Description</th>
                <th scope="col" id="size">@item.Value</th>
                <th scope="col"><p class="price" id="@item.Key.Id">@item.Key.Price</p></th>
                <th scope="col"><p class="fullprice" id="@item.Key.Id">@item.Key.Price</p></th>
                <th scope="col"><input type="number" class="nums" id="@item.Key.Id" name="nums" min="1" max="10" value="1"></th>
                <th>
                    <form method="post" class="col-sm-6">
                        <div class="form-group row">
                            <div class="col-sm-7 offset-sm-3">
                                <button class="btn btn-danger" id="delete">x</button>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
            }
        </tbody>
    </table>
</div>
<h1>Count - <p class="count">0</p></h1>

@section scripts{
    <script>
        $(function () {
            $('.CardTable').on('submit', function (evt) {
                evt.preventDefault();
                console.log(evt)
                $.post('../Card/Delete?id=' + $("#IdItem").text()+ $("#size").text(), function () {
                    $('.CardTable').load("/Card/Card #MyCardTable");
                });
            });
        });
    </script>
}