@model sx.ViewModels.UserModel
@{
    ViewData["Title"] = "Me";
}

<h1>Me</h1>

<h2>@Model.user.Id</h2>
<h2>@Model.user.Email</h2>
<h2>@Model.user.Password</h2>
<h2>@Model.user.Role</h2>

<div class="GoodsTable">
    <table class="table" id="MyGoodsTable">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name Goods</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.goods)
            {
                <tr>
                    <th id="IdItem">@item.Id</th>
                    <td>@item.ShortName</td>
                    <td>@item.Description</td>
                    <td>@item.DatePublic</td>
                    <td><a class="btn btn-primary text-dark" href="../Goods/Good?id=@item.Id">Go</a></td>
                    <td><a class="btn btn-warning text-dark" href="../Goods/UpdateGoods?id=@item.Id">Update</a></td>
                    <td>
                        <form method="post" class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-sm-7 offset-sm-3">
                                    <button class="btn btn-danger" id="Delete">Delete</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(function () {
            $('.GoodsTable').on('click', function (evt) {
                evt.preventDefault();
                $.post('../Goods/Delete?id=' + $("#IdItem").text(), function () {
                    $('.GoodsTable').load("/Account/Me #MyGoodsTable");
                });
            });
        });
    </script>
}